@{
    Layout = null;
}


<div class="modal" id="favoritosModal">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Mis lugares favoritos </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <div class="row" id="div-myMarkers"></div>

            </div>
        </div>
    </div>
</div>


<script>

    function verFavoritos(){

        $("#favoritosModal").modal('show');

           getMarkers()
            .then((markers) => {
                    console.log(markers)

                    if(markers.length == 0)
                        throw 'Aún no has guardao marcadores.'

                    let markersCards= markerToCards(markers);
                        $("#div-myMarkers").html(markersCards);

            }).catch((err) => {
                console.log(err)
                $("#div-myMarkers").html(err);
            })
    }

    function saveFavorito_click(markerId){

          let currLocation=currentLocations.find(x => x.fsq_id == markerId)

          $("#div-saveMarker").html('<a href="#" class="link-secondary float-end">  Guardardando...</a>')

          saveFavorito(currLocation)
            .then((locationSaved) => {
                $("#div-saveMarker").html('<a href="#" class="link-success float-end">  Guardado</a>')

            }).catch((err) => {
                console.log(err)
                $("#div-saveMarker").html('<a href="#" class="link-secondary  float-end">  Error</a>')
            })
    }

    function saveFavorito(place){

            let imagenes = document.getElementsByClassName('markerImage');
            let imagen= imagenes.length > 0 ? imagenes[0].currentSrc  : '';
            let categoria= place.categories.length > 0 ? place.categories[0].name  : '';

            return new Promise((resolve, reject) => {

                   $.ajax({
                        url:'/Places/CreateMarker',
                        type: "POST",
                        data: {
                            marker:{
                                Fsq_id : place.fsq_id,
                                Nombre: place.name,
                                Direccion: `${place.location.formatted_address}, ${place.location.country}`,
                                Imagen: imagen,
                                Categoria: categoria,
                            }

                        },
                        success: function (data) {

                               resolve(data);
                        },
                        error: function (err) {
                            reject(err);
                        }
                    });
              });
      }
      
      const getMarkers = ( )=> new Promise(function (resolve, reject) {

                   $.ajax({
                        url:'/Places/GetMarkers',
                        type: "GET",
                        success: function (data) {

                            resolve(data);

                        }
                    }).fail(function (err) {
                        console.log(err)
                        reject('Ocurrio un error al obtener las imagenes');
                    });
      });

         const deleteMarker = (markerId)=> new Promise(function (resolve, reject) {

                   $.ajax({
                        url:'/Places/Delete',
                        type: "DELETE",
                        data: {markerId},
                        success: function (data) {

                            resolve(data);

                        }
                    }).fail(function (err) {
                        console.log(err)
                        reject('Ocurrio un error al intentar eliminar el marcador');
                    });
      });
      
      function markerToCards(markers){

        let html =""


        for(item of markers){

           html +=
                    `   <div class=" col-3  mb-2" id="div-marker${item.id}">
                        <div class="card">
                            <div class="card-body">
                                <div class=" card-title alert alert-light alert-dismissible p-0 m-0">
                                    <button type="button" class="btn-close p-0"  onclick="deleteFavorito(${item.id},'${item.nombre}')"></button>
                                    <h6 class="p-1">${item.nombre}</h6>
                                </div>
                                <img ${!item.imagen ? 'style="display:none!important"' : ''} src="${item.imagen}" class="mx-auto d-block" style="width:100%">

                                <p class="card-text">${item.direccion}</p>
                                <p class="card-text">A ${item.ranking} ${item.ranking==1 ? 'persona le': 'personas les'} gusta.</p>

                                <a href="#" class="card-link" onclick="verMarcardorEnMapa('${item.fsq_id}')">Ver en mapa</a>
                            </div>
                        </div>
                    </div>
                    `
        }

        return html;
      }
      
      function verMarcardorEnMapa(fsq_id){

          $("#favoritosModal").modal('hide');
           $("#imagesContainer").hide();

          removeMarkers()
          markerSavedDetail(fsq_id);
          mostrarFotos(fsq_id);
      }
      
      function deleteFavorito(markerId,nombre){
          
          if (confirm(`¿Confirma eliminar el marcador ${nombre}?`)) {

              deleteMarker(markerId)
              .then(() => {
                  $("#div-marker" + markerId).remove();

            }).catch((err) => {
                console.log(err)
            })
            }

      }
      
      function markerSavedDetail(placeId){

            $("#div-detalleMarker").html('Buscando detalle...');

            getLocationDetails(placeId)
            .then((detalle) => {

                let htmlDetalle=  `<h4 class="card-title">${detalle.name}</h4>
                <label> <strong> Zona horaria:</strong>  ${detalle.timezone} </label><br />
                <label> <strong>  Dirección:</strong> ${detalle.location.formatted_address}, ${detalle.location.country} </label>
               <div id="div-saveMarker"><a href="#" class="link-success float-end">  Guardardado</a></div>`;
               
                $("#div-detalleMarker").html(htmlDetalle);

                let location= {
                    lat: detalle.geocodes.main.latitude,
                    lng: detalle.geocodes.main.longitude,
                }

                addMarker(detalle.fsq_id,location,detalle.name)
                moveToLocation(location)

            }).catch((err) => {
                console.log(err)
                $("#div-detalleMarker").html('Sin resultados de ésta ubicación...');
            })
      }
</script>



